/* src/index.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

h1, h4 {
  font-weight: bold;
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.2rem;
}

.card-body {
  padding: 20px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  opacity: 0.9;
}

button:focus {
  outline: none;
}

.btn-primary {
  background-color: peru;
  border: none;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
}

.btn-danger {
  background-color: #dc3545;
  border: none;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
}

.container {
  max-width: 960px;
  margin-top: 30px;
}

/* Footer Styles */
footer {
  margin-top: 50px;
}

/* Header Styles */
header {
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}
